/* The navbar container */ 
ul { 
    list-style-type: none;
    overflow: hidden; 
    background-color: #333; 
}
/* Navbar links */
ul a { 
    float: left; 
    display: block; 
    color: #f2f2f2; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}
/* Links - change color on hover */ 
ul a:hover { 
    background-color: #ddd; 
    color: black; 
}

/* page bkg azure */
body{
    /*background-image: url("baruch.jpeg");*/
    background-color: azure;
    margin: 10px;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: black;
}
/* headings gray background */

#headers {
    background-color: gray;
    opacity: 100%;
    width: auto;
    text-align: center;

}
/* body pink background*/

div p::first-line {
    background-color: hotpink;
    color: orange;
    margin: inherit;
    padding: 20px;

}

p {
    background-color: yellow;
    font-variant: small-caps;
}

p::after {
    font-variant:small-caps;
}

button {
    align-items: center;
    text-align: center;
}

#navbar {
  align-items: left;
  padding: 0px;
}

#ninja {
    width: 25%;
}