/* page bkg azure */
body{
    /*background-image: url("baruch.jpeg");*/
    background-color: azure;
    margin: 10px;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
    color: black;
}
/* headings gray background */

h1, h2, h3 {
    background-color: gray;
    opacity: 100%;
    width: auto;
    text-align: center;

}
/* body pink background*/

div p::first-line {
    background-color: hotpink;
    color: orange;
    margin: inherit;
    padding: 20px;

}

p::first-line {
    background-color: yellow;
    font-variant: small-caps;
}

p::after {
    font-variant:small-caps;
}